.admin{
  display: flex;
  justify-content: center;
  height: 60px;
}

@media all and (max-width: 640px) {
  .admin{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .admin * {
    width: 80%;
  }
  .admin input{
    width: 75%;
  }
}