.errors{
  width: 100%;
  text-align: center;
  text-emphasis: bold;
  background: red;
  position: fixed;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

.error{
  border-radius: 10px 10px 0px 0px;
  border-top: 2px solid black;
}

.view{
  margin-top: 50px;
}