.errors{
  width: 100%;
  text-align: center;
  text-emphasis: bold;
  background: red;
  position: fixed;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

.error{
  border-radius: 10px 10px 0px 0px;
  border-top: 2px solid black;
}

.view{
  padding-bottom: 100%;
  margin-top: 50px;
  margin-left: 7px;
  margin-right: 7px;
}


@media all and (max-width: 640px) {
  .view{
    margin-top: 100px;
  }
}



.field {
  display: block;
  border-radius: 5px;
  border: solid 1px #F0F0F0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px;
  width: 140px;
}