.past-games *{
    overflow: hidden;
    text-overflow: ellipsis;
}

.past-games-column-headers, .game-record {
    display: flex;
    justify-content: space-around;
    padding-bottom: 7px;
    text-align: center;
}

.opponent {
    width: 40%;
}

.week{
    width: 15%;
}

.result{
    width: 20%;
}

.score {
    width: 25%;
}

.past-games-column-headers{
    margin-top: 10px;
    border-bottom: 3px double black;
    font-weight: bold;
}

.game-record{
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px dotted black;
}

.games{
    margin: 7px;
}

.game-search{
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}

@media all and (max-width: 640px)  {
    .game-search{
        width: 100%;
        justify-content: space-between;
    }
    .search-box input {
        width: 95%;
    }

    .search-box{
        width: 100%;
        justify-content: space-between;
    }
}
