.login {
  background-color: #F8F8F8;
  box-shadow: 1px 2px 10px #888888;
  padding: 5%;
  width: 60%;
  margin: auto;
  margin-top: 10vh;
  border-top: 5px #6180EF solid;
}

@media all and (max-width: 640px) {
  .login{
    width: 85%;
  }
}

.loginBtn {
  display: block;
  background: #6180EF;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.loginBtn:hover {
  background: rgb(113, 140, 238);
  text-decoration: none;
}

.mode {
  border: none;
  font-size: 15px;
  background: none;
  color: #6180EF;
  margin-top: 20px;
  outline: none;
  height: 35px;
}

.mode:hover, .mode:active, .mode:focus{
  font-weight: bold;
}