.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;    
    z-index: 9999;
}

.title{
    width: 100%;
    text-align: center;
}

.tabs{
    height: 100%;
    width: 50%;
}

@media all and (max-width: 640px) {
    .hidden-sidebar{
        display: none;
    }
    
    .sidebar{
        display: block;
    }

    .active {
        font-weight: bold;
        margin-top: 12px;
    }

    .navbar {
        border-bottom: 1px solid black;
        background: #6180EF;
        width: 100%;
        position: fixed;
        top: 0;
    }

    .tabs {
        background: #6180EF;
        position: fixed;
        top: 80px;
        float: left;
        z-index: 99;
        font-size: 200%;
    }

    .tab{
        margin-left: 5px;
        padding: 2px;
        border-bottom: 1px solid black;
        border-radius: 0px 0px 10px 0px;
    }

}

@media all and (min-width: 640px) {
    .burger{
        display: none;
    }
    
    .tabs{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: none;
        align-items: flex-end;
        justify-content: space-around;
        padding-top: 5px;
        top: 0;
        position: fixed;
        background: white;
    }

    .navbar{
        padding: 0px;
        border-right: 0px solid black;
    }

    .title{
        display: none;
    }
    
    .tab{
        text-align: center;
        width: 100%;
        border-top: 2px solid black; 
        border-left: 1px solid black; 
        border-right: 1px solid black; 
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
    }

    .inactive{
        border-bottom: 1px solid black; 
        background: #6180EF;
        opacity: 0.75;
    }
    
    .tab:hover {
        height: 25px;
        opacity: 0.85;
    }

    .active {
        font-weight: bold;
        height: 28px;
    }
    
    .active:hover{
        height: 28px;
    }
}
