.game-form {
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.scores-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.score-box label:first-child{
    margin-right: 15px;
}

.score-box input{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.score-box{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
}

@media all and (max-width: 640px) {
    .score-box {
        flex-direction: column;
    }
    .game-form {
        justify-content: space-between;
    }
    
    label {
        display: none;
    }
}